<html>
  <head>
    <title>Assign photos to group</title>
  </head>
  <body>
      <h1>Enter a group you belong to:</h1>

      <div>
          <form action="/AssignPhotoToGroup" method="post" enctype="multipart/form-data">
              <input type="text" name = "groupName" placeholder="Enter group name..." required/>
              <input type="text" name = "groupOwner" placeholder="Enter group owner's name..." required/>
              <input type="text" name = "photoID" placeholder="Enter photoID..." required/>
              <input type="submit" value="Upload"> <br>
          </form>

      </div>

      {% if msg %}
          {{ msg }}
      {% endif %}
  

      <a href="/">Go back</a>
  </body>
</html>
