<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/follow">Follow</a></li>
                <li><a href="/followRequests">Follow Requests</a></li>
                <li><a href="/tagRequests">Tag Requests</a></li>
                <li><a href="/tagPhoto">Tag Photo</a></li>
                <li><a href="/unfollow">Unfollow</a></li>
                <li><a href="/searchByTag">Search By Tag</a></li>
                <li><a href="/searchByPoster">Search By Poster</a></li>
                <li><a href="/addFriend">Add Friend</a></li>
                <li><a href="/suggestedGroups">Suggested Close Friend Groups</a></li>
                <li><a href="/AssignPhotoToGroup">Assign Photo To Group</a></li>
            </ul>
        </div>
    </body>
</html>
